body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #3F4E4F;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #76BA99;
  padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #3AB0FF;
}
.top-container{
  background-color: #CDF0EA;
  position: relative;
  padding-top: 200px;
}
.middle-container{
  margin: 100px 0;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.top-cloud{
  position: absolute;
  right: 350px;
  top: 50px;
  width: 15%;
}
.bottom-cloud{
  width: 15%;
  position: absolute;
  bottom: 250px;
  left: 350px;
}
.profile-photo{
  width: 15%;
}
.bio{
  width: 30%;
  margin: auto;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.software-design{
  width: 30%;
  float: left;
  margin-right: 30px;
}
.mathematics{
  width: 30%;
  float: right;
  margin-left: 30px;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}
p{
  line-height: 2;
}
.contact{
  width: 40%;
  margin: 40px auto 60px;
}
.btn {
  background: #11cdd4;
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.copyright{
  color: #EAF6F6;
  font-size: .75rem;
  padding: 20px 0;
}
